{% extends 'base.html.twig' %}

{% block title %}Accueil | Portfolio Amandine Marchand{% endblock %}

{% block body %}
    <h1>Bienvenue sur mon portfolio</h1>
    <p>Découvrez mes réalisations et mes services.</p>
{% endblock %}

